/* Gives a gradient effect for some hashtags */
/* Thank Agatha for this one */

.hashtag:hover {
    text-decoration: underline !important;
}  

/* Copy this and adjust gradient for more hashtags */
.hashtag[href*="trans" i] span { /* Replace "trans" with your desired hashtag */
    background-clip: text;
    background-image: linear-gradient( /* Set colours here */
        90deg,
        #55cdfc,
        #f7a8b8,
        #ffffff,
        #f7a8b8,
        #55cdfc
    );
    color: transparent;
}
