/* TABS: bottom - Firefox 65 and newer; should for now work with XUL @namespace */

:root {
    --accent: #b4289f;
    --bg-light: #272727;
    --bg-dark: #111111;
}

#urlbar-background {
    background: var(--bg-light) !important;
    box-shadow: inset 0px 0px 7px 0px #0005 !important;
}

.tab-bottom-line {
    display: none;
}

.tabbrowser-tab {
    display: block !important;
    position: relative !important;
    padding: none !important;
    margin-top: -10px !important;
    border-right: 1px solid #000;
    border-bottom: 2px var(--identity-tab-color) solid !important;
    height: 16pt !important;
}

.tabbrowser-tab * {
   border-radius: 0 !important;
   border: none !important;
   --tab-
}

#tabbrowser-tabs {
    --tab-loading-fill: transparent !important;
    --tab-line-color: transparent !important;
}

tab[visuallyselected="true"] {
    box-shadow: 0px 0px 10px 0px #000f;
    background: var(--bg-dark) !important;
}

tab[visuallyselected="true"] .tab-content, tab[visuallyselected="true"] .tab-background {
    background: var(--bg-dark);
}

.tab-content {
    margin-top: 0px;
    margin-bottom: 2px;
    padding-top: 12px !important;
    padding-left: 8px !important;
    padding-right: 2px !important;
    transition: background .2s;
}

.tab-label-container {
    background: none;
}

.tab-line {
    background: var(--identity-tab-color) !important;
    opacity: 0 !important;
    z-index: 9999 !important;
    margin-top: -2px !important;
    transform: none !important;
}

.tab-background {
    /*! transform: rotate(180deg); */
    border-top: 2px solid #999 !important;
}

#navigator-toolbox toolbar:not(#nav-bar):not(#toolbar-menubar) {
  -moz-box-ordinal-group: 10 !important;
}

toolbar {
    background: var(--bg-dark) !important;
}

#TabsToolbar {
  -moz-box-ordinal-group: 1000 !important;
  display: block !important;
  position: absolute !important;
  top: 44pt !important;
  width: 100vw !important;
  margin-top: 0px !important;
}

.tab-context-line {
    visibility: hidden !important;
}

#tabbrowser-tabs {
  width: 100vw !important;
  background: var(--bg-light) !important;
  box-shadow: inset 0px 0px 7px 0px #000a;
}

*|*:root:not([chromehidden*="toolbar"]) #navigator-toolbox {
  padding-bottom: calc(var(--tab-min-height) + 0px) !important; /*adjust*/
}

/* position Tab bar with Menu bar and Title bar hidden for Firefox 65-73 - omit in Firefox Nightly */
*|*:root[tabsintitlebar]:not([inFullscreen="true"]):not([sizemode="maximized"])
 #toolbar-menubar[autohide="true"] ~ #xTabsToolbar{
  bottom: var(--tab-min-height) !important;
  padding-top: calc(var(--tab-min-height) - 20px) !important; /*adjust*/
}

/* TABS: height */
*|*:root {
  --tab-toolbar-navbar-overlap: 100px !important;
  --tab-min-height: 27px !important; /*adjust to set height or omit to use density*/
  --tab-min-width:  80px !important; /*adjust to set width or omit to use default*/
}

#TabsToolbar {
  height: var(--tab-min-height) !important;
  box-shadow: ThreeDShadow 0 -1px inset, -moz-dialog 0 1px !important; /*omit*/
  background-color: var(--toolbar-bgcolor) !important;
  color: var(--toolbar-color) !important;
}

/* indicators - hide  */
.private-browsing-indicator {display: none !important;}
.accessibility-indicator    {display: none !important;}

/* window controls hide*/
#TabsToolbar #window-controls {display: none !important;}

/* caption buttons - hide */
*|*:root[tabsintitlebar]:not([inFullscreen="true"])
 #toolbar-menubar[autohide="true"] ~ #TabsToolbar
 .titlebar-buttonbox-container {display: none !important;}
