.tabbrowser-tab .tab-close-button {
  -moz-box-ordinal-group: 0 !important;
  display: none;
  padding: 0 !important;
  margin-bottom: 2px;
  margin-right: 8px !important;
}

.tabbrowser-tab:not([pinned="true"]):hover .tab-icon-image,
.tabbrowser-tab:not([pinned="true"]):hover .tab-throbber {
  display: none;
}

.tabbrowser-tab:not([pinned="true"]):hover .tab-close-button {
  display: -moz-box;
  height: 10pt !important;
  width: 10pt !important;
}