@import url("bottomTabs.css");
@import url("closeTabFavicons.css");
@import url("fuckMegabar.css");
@import url("compactToolbarItems.css");

:root {
    --toolbar-field-focus-border-color: transparent !important;
    --mbarstyler-popout-pixels: 0px !important;
}

* {
    font-family: monospace !important;
}

toolbox {
    background: #f00;
}


/* Get rid of blue border around urlbar */
#urlbar:not(.megabar):-moz-lwtheme, #urlbar.megabar:-moz-lwtheme > #urlbar-background, 
#navigator-toolbox #searchbar:not(:focus-within):-moz-lwtheme {
  	border: none !important;
}
