/* Makes profile pictures and room icons and such squares */

.mx_BaseAvatar, .mx_SpaceButton_icon, .mx_SpaceButton_selectionWrapper, .mx_AccessibleButton, .mx_RoomSearch {
    border-radius: 3px !important;
}

.mx_SpaceButton_icon, .mx_BaseAvatar {
    mask-image: none !important;
}

.mx_DecoratedRoomAvatar_icon {
    display: none;
}
